@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');





body {
    font-family: 'Edu TAS Beginner', cursive;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
        }
        
header {
    background-image: url(../img/madera.jpeg);
    color: #fff;
    text-align: center;
    padding: 1em;
    display: flex;justify-content: space-between;}

header ul{
    list-style-type: none;
    text-align: left;}

h1{font-size: 35px;
    text-align: center;}

h2{font-size: 30px;}

header img{width: 200px}

.nav-link {color: #fff;
    font-size: 30px;}

#products {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    }

#products a{text-decoration: none;
color: black;}

#products img
    {width: 60%;}

#products p{width: 60%;}

#products div {display:flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 400px;
    background-image: url(../img/madera.jpeg);
    padding-top: 10px;
    border-radius: 4%;
    color: white;
    margin-bottom: 30px;
    margin-top: 20px;}

@media only screen and (min-width:900px){
    #products{
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 220px;
    padding-top: 100px;}
    #products div {
        width: 20%;
        margin: 0px}
    }



#products div a{display:flex; 
    justify-content: center;
    height: 50%;
    width: 100%;}
p{font-size: 25px;}
main{padding-left: 20px;
    padding-bottom: 30px;}
.fotos{width: 20%;
    padding-bottom: 30px;}
.quienessomos {display: flex;
    justify-content: center;}
.menu-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;}
footer {
    background-image: url(../img/madera.jpeg);
    color: #fff;
    text-align: left;
    padding: 1em;}
.fa-brands{color: #fff;
    text-align: left;
    text-decoration: none;}
.fa-whatsapp {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 60px;
    font-size: 40px;
    padding: 10px;
    background-color: #3bbb6a;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

img {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}
