$color-white: #fff;
$width-products: 80%;

#products {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;

    a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;}

    img{
        width: $width-products
        }

    p{
        width: $width-products}

    div {
        @extend %madera-estilos;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        height: 400px;
        padding-top: 10px;
        border-radius: 4%;
        margin-bottom: 30px;
        margin-top: 20px;
        

        }
    }


